:host {
    @apply(--layout-fit);
}

pre {
    top: 5px;
    right: 5px;
    position: absolute;
    margin: 0px;
    font-weight: bold;
    color: gray;
    text-align: right;
    white-space: pre-line;
}
